.player {
    display: grid;
    -webkit-filter: drop-shadow(0px 4px 27px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 27px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

@supports (-webkit-hyphens:none) {
    .player {
        box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.0), 0px 4px 7px rgba(0, 0, 0, 0.0);
    }
}

.needle_base {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: none;
}

.needle {
    aspect-ratio: 0.3289;
    height: 86% !important;
    width: auto !important;
    position: absolute !important;
    left: 69.31% !important;
    top: 8% !important;
    transform-origin: 49% 20.5% !important;
    z-index: 2;
    cursor: pointer;
    object-fit: cover;
}

div.needle {
    overflow: visible !important;
}

.playing_needle {
    transform: none !important;
}

.needle img {
    z-index: 4;
    transform-origin: 49% 20.5% !important;
    transition-property: transform;
    transition-duration: 0.3s;
    overflow: clip !important;
}

.playing_needle img {
    transform: rotate(30deg);
}

.reflection {
    aspect-ratio: 1;
    height: 82.5% !important;
    width: auto !important;
    position: absolute !important;
    top: 8.5% !important;
    left: 7% !important;
    opacity: .27 !important;
    mix-blend-mode: screen;
    cursor: pointer;
}

.reflection img {
    rotate: -10deg;
}

.disk {
    aspect-ratio: 1;
    height: 82.5% !important;
    width: auto !important;
    position: absolute !important;
    top: 8.55% !important;
    left: 6.9% !important;
    animation: rotate 3.6363s infinite linear;
    animation-play-state: paused;
}

.playing_disk {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}