.backdrop {
  background-color: #000c;
}

.backdrop.hidden {
  pointer-events: none;
}

.openbook {
  aspect-ratio: 1.360225141;
  min-height: 533px;
  overflow: clip;
  height: 45% !important;
  width: auto !important;
  position: fixed !important;
  z-index: 2;
  top: 50%;
  left: 50%;
  will-change: transform;
  -webkit-transform-origin: 50%  51%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.openbook * {
  -khtml-user-select: initial;
  -o-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

.openbook > div:last-child {
  width: 38.62% !important;
  top: 17% !important;
  right: 6% !important;
  height: 78.048% !important;
}

.openbook > div:nth-child(2) {
  width: 41.96% !important;
  left: 5.79% !important;
  height: calc(111% - 3ch) !important;
  justify-content: start;
  gap: 3ch !important;
  top: 4.5% !important;
}

.openbook > div:nth-child(2) > div {
  width: 100% !important;
  opacity: 1 !important;
}

.openbook h1, .openbook h4, .openbook h5 {
  max-width: 35cqw !important;
  max-height: 3ch;
  opacity: 1 !important;
}

.openbook h1 {
  font-size: 2.7svh !important;
}

.openbook h4 {
  font-size: 2svh !important;
}

.openbook > div[data-framer-component-type="RichTextContainer"] {
  width: 29.10% !important;
  right: 13.79% !important;
  top: 0.8rem !important
}

.openbook h5 {
  font-size: 2.5svh !important;
}

.openbook ul {
  display: flex;
  flex-direction: column;
}

/* .openbook *::-webkit-scrollbar {
  display: none;
} */

@media (max-width: 1200px) and (orientation: portrait) {
  .openbook {
    width: 100vw !important;
    height: auto !important;
    max-height: 45svh !important;
    min-height: unset !important;
    top: 30%;
  }

  .openbook.page_left {
    transform: scale(2) translate(0, 0) !important;
  }

  .openbook.page_right {
    transform: scale(2) translateX(-50%) !important;
  }

  .openbook h1, .openbook h4, .openbook h5 {
    max-width: 35svmin !important;
  }

  .openbook h1 {
    font-size: 1.9cqh !important;
  }

  .openbook h4 {
    font-size: 1.4cqh !important;
  }

  .openbook h5 {
    font-size: 2.2cqh !important;
  } 

  .openbook > div:nth-child(2) {
    height: calc(110% - 1.5ch) !important;
    gap: 1.5ch !important;
  }
}