.backdrop {
  background-color: #000c;
}

.backdrop.hidden {
  pointer-events: none;
}

.openbook {
  aspect-ratio: 1.360225141;
  min-height: 533px;
  height: 45% !important;
  width: auto !important;
  position: fixed !important;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  -webkit-transform-origin: 50%  51%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.openbook * {
  -khtml-user-select: initial;
  -o-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

.openbook > div:has(> a) {
  width: 38.62% !important;
  top: 17% !important;
  right: 6% !important;
  height: 78.048% !important;
}

.openbook a:has(img) { 
  height: 19.23% !important;
  width: auto !important;
  aspect-ratio: 1;
}

.openbook a:has(img):nth-child(2) { /* RSS */ 
  top: 26% !important;
}

.openbook a:has(img):nth-child(5) { /* Youtube */ 
  right: 29.90% !important;
  top: 26% !important;
}

.openbook > div:nth-child(2) {
  width: 41.96% !important;
  left: 5.79% !important;
  height: 96% !important;
  justify-content: space-evenly;
  top: 3% !important;
}

.openbook > div:nth-child(2) > div {
  width: 100% !important;
}

.openbook h1 {
  font-size: 1.6cqw !important;
}

.openbook h4 {
  font-size: 1.1cqw !important;
}

.openbook div:has(>h5) {
  width: 29.10% !important;
  right: 13.79% !important;
  top: 7.5% !important
}

.openbook h5 {
  font-size: 1.4cqw !important;;
}

.openbook div:has(> p) {
  overflow-y: scroll;
  height: 75.66% !important;
}

.openbook div:has(> p) * {
  font-size: 1.3cqw !important;
  margin: 0 !important;
}

.openbook ul {
  display: flex;
  flex-direction: column;
}

.openbook div:has(> p) a {
  color: var(--extracted-1eung3n, rgb(168, 87, 0));
  text-decoration: none;
}

.openbook div:has(> p) a:hover {
  text-decoration: underline;
}

.openbook *::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1200px) and (orientation: portrait) {
  .openbook {
    width: 100vw !important;
    height: auto !important;
    min-height: unset !important;
  }
}