.backdrop {
  background-color: #000c;
}

.backdrop.hidden {
  pointer-events: none;
}

.openbook {
  aspect-ratio: 1.360225141;
  overflow: clip;
  height:  62.3vw !important;
  height:  62.3svmin !important;
  width: auto !important;
  position: fixed !important;
  z-index: 2;
  top: 50%;
  left: 50%;
  will-change: transform;
  -webkit-transform-origin: 50%  51%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.openbook * {
  -khtml-user-select: initial;
  -o-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

.openbook > div:last-child {
  width: 38.62% !important;
  top: 17% !important;
  right: 6% !important;
  height: 78.048% !important;
}

.openbook > div:nth-child(2) {
  width: 41.96% !important;
  left: 5.79% !important;
  height: 100% !important;
  justify-content: start;
  gap: 0ch !important;
  top: 4.5% !important;
}

.openbook > div:nth-child(2) > div {
  opacity: 1 !important;
}

.openbook h1, .openbook h2, .openbook h3, .openbook h4 {
  opacity: 1 !important;
}

.openbook h1 {
  font-size:  3.5vh !important;
  font-size:  3.5svh !important;
}

.openbook h2 {
  font-size:  2.5vh !important;
  font-size:  2.5svh !important;
}

.openbook > div[data-framer-component-type="RichTextContainer"] {
  width: 29.10% !important;
  right: 13.79% !important;
  top: 4.5% !important
}

.openbook h3 {
  font-size:  3.3vh !important;
  font-size:  3.3svh !important;
}

.openbook ul {
  display: flex;
  flex-direction: column;
}

/* .openbook *::-webkit-scrollbar {
  display: none;
} */

@media (max-width: 1200px) and (orientation: portrait) {
  .openbook {
    width: 100vw !important;
    height: auto !important;
    max-height:  45vh !important;
    max-height:  45svh !important;
    min-height: unset !important;
    top: 30%;
  }

  .openbook.page_left {
    transform: scale(2) translate(0, 0) !important;
  }

  .openbook.page_right {
    transform: scale(2) translateX(-50%) !important;
  }

  .openbook h1 {
    font-size: 1.9cqh !important;
  }

  .openbook h2 {
    font-size: 1.4cqh !important;
  }

  .openbook h3 {
    font-size: 2.2cqh !important;
  } 

  .openbook > div:nth-child(2) {
    height: calc(110% - 1.5ch) !important;
  }
}

@media (pointer:coarse) and (orientation: landscape) {
  .openbook {
      min-height: unset;
      height:  100vh !important;
      height:  100svh !important;
  }
}