div.shadow8 {
    box-shadow: -6px -2px 15px rgba(0,0,0,.5), -5px -1px 4px -3px rgba(0,0,0,.3);
}

div.shadow24 {
    box-shadow: -19px -4px 38px rgba(0, 0, 0, 0.16), -15px -3px 12px -3px rgba(0, 0, 0, 0.08);
}

.separate_shadow {
    aspect-ratio: 1;
    height: calc(57.5% * 0.95172) !important; /* Not entirely sure about this */
    width: auto !important;
    position: absolute !important;
    box-shadow: 0 0 0 transparent, 0 0 0 0 transparent;
    transition: box-shadow .8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.separate_shadow[hidden=false] {
    visibility: revert !important;
}