.backdrop {
  background-color: #000c;
}

.backdrop.hidden {
  pointer-events: none;
}

.openbook {
  position: fixed !important;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.openbook * {
  -khtml-user-select: initial;
  -o-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
  user-select: initial;
}

.openbook h4 {
  font-size: 1.1rem !important;
}

.openbook div:has(> p) {
  overflow-y: scroll;
  height: 350px !important;
}

.openbook div:has(> p) * {
  font-size: 1.5rem !important;
  margin: 0 !important;
}

.openbook ul {
  display: flex;
  flex-direction: column;
}

.openbook div:has(> p) a {
  color: var(--extracted-1eung3n, rgb(168, 87, 0));
  text-decoration: none;
}

.openbook div:has(> p) a:hover {
  text-decoration: underline;
}

.openbook p::-webkit-scrollbar {
  display: none;
}