.main {
  margin-top: -100vh;
  margin-top: -100svh;
  height: 100vh;
  height: 100svh;
  width: 100%;
  position: sticky;
  top: 0;
}

.section {
  height: 100vh;
  height: 100svh;
  width: 100%;
  pointer-events: none;
}

.section p {
  margin: 0;
}

.floor,
.floor>img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  contain: paint;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute !important;
}

div:has(> .chair) {
  position: relative;
}

.chair {
  position: absolute !important;
  top: calc(max(73vw / 2.0268, var(--tableMinHeight)) + (50vh - max(73vw / 2.0268, var(--tableMinHeight)) / 2) - ((max(75vw * 0.54, 320px) / 0.395) * 0.142)) !important;
  top: calc(max(73vw / 2.0268, var(--tableMinHeight)) + (50svh - max(73vw / 2.0268, var(--tableMinHeight)) / 2) - ((max(75vw * 0.54, 320px) / 0.395) * 0.142)) !important;
  left: calc(max(73vw, var(--tableMinWidth)) + (50vw - max(73vw/2, var(--tableMinWidth) / 2)) - max(75vw * 0.65, 320px) * 1.03) !important;
  object-fit: contain;
  aspect-ratio: 1;
  height: auto !important;
  width: calc(75vw * 0.8) !important;
  min-width: 320px;
  transform: rotate(-23deg) !important;
}


@supports (-webkit-hyphens:none) {
  .chair {
    transform: rotate(-23deg) translateZ(4px) !important;
  }
}

.chair img {
  height: 100%;
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.invisiblefill {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  content: " ";
}

.table {
  display: block;
  aspect-ratio: 2.0268;
  height: auto;
  width: 73vw;
  min-height: var(--tableMinHeight);
  min-width: var(--tableMinWidth);
  max-height: 100vh;
  max-height: 100svh;
  max-width: 202.68vh;
  max-width: 202.68svh;
  box-shadow: 0px 4px 128px 0px rgba(0, 0, 0, 0.25);
  background: radial-gradient(61.87275794553494% 61.87275794553494% at 44.76127579995074% 44.57884970692233%, #ffffff 0%, hsl(0, 0%, 87%) 100%);
  overflow: visible;
  z-index: 1;
  border-radius: 8px;
  position: absolute !important;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table,
.table * {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.table div:has(>img[data-nimg="fill"]) {
  position: relative;
  overflow: clip;
}

.table p {
  margin: 0 !important;
}

.table_shadow_box {
  position: absolute !important;
  width: 100%;
  height: 100%;
  contain: content;
  pointer-events: none;
  z-index: 99;
}

.notebook {
  aspect-ratio: 1;
  height: 55% !important;
  width: auto !important;
  position: absolute !important;
  left: 30.68%;
  bottom: 3.2%;
  cursor: pointer;
  clip-path: inset(10% 26.5% 15% 15%);
  will-change: transform;
}

.notebook div[data-framer-component-type="RichTextContainer"] {
  width: 95% !important;
  left: 0 !important;
  top: 0 !important;
  transform: unset !important;
  container-type: inline-size;
}

.notebook p {
  font-size: 1.6cqw !important;
  width: 95%;
  text-align: center !important;
  display: block;
}

.pen {
  aspect-ratio: 1;
  height: 55% !important;
  width: auto !important;
  position: absolute !important;
  left: 39% !important;
  bottom: -5% !important;
  top: inherit !important;
  pointer-events: none;
  transform: rotate(-2.5deg) !important;
}

.player {
  position: absolute !important;
  top: 8%;
  right: 3%;
  width: 38.9% !important;
  height: 62% !important;
}

.headphones {
  aspect-ratio: 1;
  height: 65% !important;
  width: auto !important;
  position: absolute !important;
  left: 31.4% !important;
  top: -3.2% !important;
  transform: rotate(7deg);
  transform-origin: center;
}

.camera {
  aspect-ratio: 1;
  height: 45% !important;
  width: auto !important;
  position: absolute !important;
  top: -7% !important;
  left: -2% !important;
  clip-path: inset(16% 0 15% 8%);
}

.camera img {
  transform: rotate(-27deg);
  transform-origin: center;
}

.camera img {
  -webkit-user-drag: none;
}

.phone {
  aspect-ratio: 1;
  height: 55% !important;
  width: auto !important;
  position: absolute !important;
  top: -16.5% !important;
  left: 18% !important;
  transform: rotate(-12deg);
  transform-origin: center;
}

.albums {
  aspect-ratio: 324/320;
  height: 57.5% !important;
  width: auto !important;
  position: absolute !important;
  left: 4.1% !important;
  bottom: 9% !important;
  transform: translateZ(0px);
}


.albums .playButton img {
  will-change: unset !important;
}

.albums>div {
  display: none;
  position: absolute !important;
  aspect-ratio: 1;
  height: auto !important;
  width: 94% !important;
}

.albums>div:nth-child(6n) {
  right: 0;
  top: calc(50.62500000000002% - 95% / 2);
}

.albums>div:nth-child(6n + 1) {
  top: 51%;
  right: 0;
  translate: 0px -50% 0px;
}

.albums>div:nth-child(6n + 2) {
  left: 50%;
  top: 50%;
  translate: -50% -50% 0px;
}

.albums>div:nth-child(6n + 3) {
  left: 0;
  top: 49%;
  translate: 0px -50% 0px;
}

.albums>div:nth-child(6n + 4) {
  left: 52%;
  bottom: 0;
  translate: -50% 0 0px;
}

.albums>div:nth-child(6n + 5) {
  left: 50%;
  top: 0;
  translate: -50% 0 0px;
}

.albums>div:nth-last-child(-1n + 9 of :not([data-visibility="hidden"])) {
  /* eslint-disable */
  display: block !important;
}

.albums div>div,
.albums img {
  height: 100% !important;
  width: 100% !important;
  will-change: transform;
}

.albums>div.playButton:last-child {
  width: 50% !important;
  height: 50% !important;
  opacity: 0;
  left: 50%;
  top: 50%;
  right: unset;
  translate: -50% -50% 0px;
  pointer-events: none;
}

.postitnotes {
  position: absolute !important;
  bottom: 3%;
  left: 57.5%;
  display: flex;
  justify-content: space-between;
  width: 32.75% !important;
  height: 22% !important;
}

.postitnotes > div {
  flex: 1;
}

.postitnotes > *:nth-child(1) {
  transform: rotate(-0deg) translate(3%, -13.5%);
}

.postitnotes > *:nth-child(3) {
  transform: rotate(-6deg) translate(-3%, -3%);
}

.postitnotes > div:nth-child(4) {
  transform: rotate(6deg) translate(-6%, -7.5%);
}

.postit {
  scale: 1.5;
  height: calc(round(up, 100% * 1.5, 1px) / 1.5) !important;
  /* width: calc(round(up, 100% * 1.5, 1px) / 1.5) !important; */
  clip-path: inset(23% 16% 25% 16.5%);
  display: block;
}

.postit a {
  cursor: default;
}

.postit>div {
  will-change: transform;
  width: 100%;
  height: 100%;
}

.postit div[data-framer-component-type="RichTextContainer"] {
  position: absolute !important;
  top: 30% !important;
  left: 50% !important;
  width: 43% !important;
  height: 40% !important;
  container-type: size;
}

.postit p {
  font-size: 30cqw !important;
  text-align: center !important;
  line-height: 1 !important;
  display: block;
  --framer-font-family: "Caveat", sans-serif !important;
  --framer-font-weight: 700 !important;
  --framer-letter-spacing: -0.8px !important;
  --framer-text-color: var(--extracted-r6o4lv, rgb(38, 38, 38)) !important;
  color: var(--framer-text-color, #000) !important;
  letter-spacing: var(--framer-letter-spacing, 0) !important;
  line-height: var(--framer-line-height, 1.2em) !important;
  font-family: var(--framer-font-family) !important;
  font-weight: 700 !important;
}

.postit a > img {
  aspect-ratio: 1 / 1;
  flex: none;
  height: auto !important;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  top: 44% !important;
  width: 21% !important;
}

.postit img {
  width: 80% !important;
  height: 80% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.postit a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.postit div[data-framer-name="hover_zone"] {
  display: block;
  height: 43%;
  width: 43%;
  top: 27.5%;
  left: 27.5%;
  position: absolute;
}

.postitnotes > div:has(.postit.subscribe_postit), .postit.subscribe_postit {
  display: none;
}

.postit.download_postit div[data-framer-component-type="RichTextContainer"] {
  top: 55% !important;
  left: 49% !important;
}

.download_postit p {
  font-size: 27cqw !important;
}

.download_postit figure {
  aspect-ratio: unset !important;
  width: auto !important;
  top: 33% !important;
  bottom: unset !important;
  right: 30% !important;
  left: unset !important;
  transform: translateX(-50%) !important;
}

.postit.contact_postit div[data-framer-component-type="RichTextContainer"] {
  top: 53% !important;
  left: 49% !important;
}

.contact_postit p {
  font-size: 33cqw !important;
}

.contact_postit figure {
  aspect-ratio: unset !important;
  width: auto !important;
  top: 33% !important;
  bottom: unset !important;
  right: 30% !important;
  left: unset !important;
  transform: translateX(-50%) !important;
}

.postit.home_postit div[data-framer-component-type="RichTextContainer"] {
  top: 53% !important;
  left: 49% !important;
}

.home_postit p {
  font-size: 37cqw !important;
}

.home_postit figure {
  aspect-ratio: unset !important;
  width: auto !important;
  top: 33% !important;
  bottom: unset !important;
  right: 30% !important;
  left: unset !important;
  transform: translateX(-50%) !important;
}

.subscribe_postit figure {
  aspect-ratio: unset !important;
  width: auto !important;
  height: 50% !important;
  top: 13% !important;
  bottom: unset !important;
  right: 10% !important;
  left: unset !important;
  transform: translateX(-75%) !important;
}

.subscribe_postit div[data-framer-name="hover_zone"] {
  cursor: pointer;
}

.postit.subscribe_postit div:has(> img) {
  overflow: visible !important;
}

.bottomSheet {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  align-content: center;
  width: 100%;
}

.bottomSheet>.bottomSheetRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  margin-bottom: 1rem;
}

.bottomSheet h3 {
  text-align: center;
}

.bottomSheet strong {
  margin-inline-start: 1rem;
  margin-inline-end: auto;
  font-size: 1rem;
}

.bottomSheet img {
  height: 3.15rem;
  width: 3.15rem;
}

.bottomSheet span,
.bottomSheet strong,
.bottomSheet h3,
.bottomSheet button {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

.bottomSheet .roundButton {
  border-radius: 999px;
  border: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 0.75rem;
  width: calc(2rem + 9ch);
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline-offset: 0;
  font-size: 1rem;
}

.bottomSheet .roundButton:focus {
  outline: 0;
}

@media (((max-width: 1200px) and (orientation: portrait))) {
  .main {
    height: 100%;
    width: 100vw;
    --table_height: 90vmax;
    --table_height: 90svmax;
  }

  .floor > img {
    height: 100lvh;;
  }

  .table {
    aspect-ratio: 0.4933;
    width: auto !important;
    height: var(--table_height);
    min-height: unset;
    min-width: unset;
  }

  .chair {
    left: calc(var(--table_height) * 0.4933 + (50vmin - (75vmax * 0.4933) / 2) - ((var(--table_height) * 0.8 / 0.8129) * 0.24)) !important;
    left: calc(var(--table_height) * 0.4933 + (50svmin - (75svmax * 0.4933) / 2) - ((var(--table_height) * 0.8 / 0.8129) * 0.24)) !important;
    bottom: calc(var(--table_height) + (50vmax - 42.5vmax) - (75vmax * 0.8)) !important;
    bottom: calc(var(--table_height) + (50svmax - 42.5svmax) - (75svmax * 0.8)) !important;
    top: unset !important;
    aspect-ratio: 1;
    height: auto !important;
    width: calc(75vmax * 0.8) !important;
    width: calc(75svmax * 0.8) !important;
    min-width: unset;
    transform: rotate(247deg) !important;
  }

  @supports (-webkit-hyphens:none) {
    .chair {
      transform: rotate(247deg) translateZ(4px) !important;
    }
  }

  .notebook {
    height: auto !important;
    width: 60% !important;
    bottom: 35%;
    right: 44% !important;
    left: unset !important;
    cursor: pointer;
    clip-path: inset(15% 25% 15% 25%);
  }

  .notebook>div>div {
    container-type: inline-size;
  }

  .notebook p {
    font-size: 2.2cqh !important;
  }

  .pen {
    height: auto !important;
    width: 60% !important;
    top: unset !important;
    bottom: 33% !important;
    left: 20% !important;
    transform: rotate(-15deg);
  }

  .albums {
    bottom: 3% !important;
    left: 50% !important;
    width: 70% !important;
    height: unset !important;
    transform: translateX(-50%);
  }

  .player {
    aspect-ratio: 1.2782;
    width: 90% !important;
    height: auto !important;
    right: 50% !important;
    top: 3% !important;
    transform: translateX(50%);
  }

  .phone {
    display: none;
  }

  .headphones {
    display: none;
  }

  .camera {
    display: none;
  }

  .postitnotes {
    height: 25% !important;
    width: 38% !important;
    bottom: 50% !important;
    left: 58%;
    transform: translateY(50%);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    column-gap: 15%;
    row-gap: 2vh !important;
    row-gap: 2svh !important;
    row-gap: 0px !important;
    overflow: visible;
  }

  .postitnotes>div {
    display: block !important;
  }

  .postit {
    height: calc(var(--table_height) * 0.2275 * 0.3) !important;
    width: auto !important;
    aspect-ratio: 1 !important;
    overflow: visible !important;
    clip-path: none !important;
  }

  .postit.home_postit div:has(> img) {
    overflow: visible !important;
  }

  .postit div[data-framer-name="hover_zone"] {
    display: block;
    height: 87%;
    width: auto;
    aspect-ratio: 1;
    top: 6%;
    left: 6%;
    position: absolute;
  }

  .postit img {
    height: 160% !important;
    width: auto !important;
    pointer-events: none;
  }

  .postit a > img {
    width: 50% !important;
    top: 40% !important;
    left: 50%;
    bottom: 10% !important;
  }

  .postit figure {
    height: 40% !important;
    right: 10% !important;
    top: 20% !important;
  }

  .postit.home_postit div[data-framer-component-type="RichTextContainer"] {
    top: 56% !important;
    right: 24% !important;
    left: unset !important;
  }

  .subscribe_postit,
  .contact_postit {
    display: block !important;
  }

  .postit.subscribe_postit div[data-framer-component-type="RichTextContainer"] {
    top: 62% !important;
    right: 30% !important;
    left: unset !important;
  }

  .postit.download_postit div[data-framer-component-type="RichTextContainer"] {
    top: 62% !important;
    left: 25% !important;
  }

  .postit.contact_postit div[data-framer-component-type="RichTextContainer"] {
    top: 52% !important;
    left: 30% !important;
  }

  /* .download_postit a>div {
    transform: translateX(-16%) !important;
  } */

  .home_postit p {
    font-size: 81cqw !important;
  }

  .subscribe_postit p {
    font-size: 62cqw !important;
  }

  .contact_postit p {
    font-size: 77cqw !important;
  }

  .download_postit p {
    font-size: 60cqw !important;
  }

  /* .postit a {
    transform:translateX(-10%) !important;
  } */

  .postitnotes > div:nth-child(1) {
    transform: rotate(3deg) translate(0%, 12%) !important;
  }

  .postitnotes > div:nth-child(2) {
    transform: rotate(-6deg) translate(0, 27.5%);
  }

  .postitnotes > div:nth-child(3) {
    transform: rotate(6deg) translate(0%, -10%);
  }

  .postitnotes > div:nth-child(4) {
    transform: unset !important;
  }
}

@media (pointer:coarse) and (orientation: landscape) {
  .main {
    height: 100%;
    width: 100vw;
    --table_height: 100svmin !important;
  }

  .table {
    aspect-ratio: calc(1/0.4933);
    width: auto !important;
    height: var(--table_height) !important;
    min-height: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    max-width: unset !important;
  }

  .postit a > img {
    top: 45% !important;
    bottom: -25% !important;
  }
}

@media (max-aspect-ratio: 4/3) and (min-aspect-ratio: 9.1/16) and (min-width: 875px) {
  .table {
    width: 94vw;
  }

  .notebook p {
    font-size: 2cqw !important;
  }
}