.faq {
    padding-bottom: 6vh;
    padding-top: 6vh;
    display: flex;
    justify-content: center;
}

.FAQ_background {
    position: fixed;
    top: -2vh;
    object-fit: cover;
    height: 105vh;
    width: 100vw;

    filter: blur(0px);
    transform: scale(1.1);
    transition: 1s 0.3s filter cubic-bezier(0.45,0.05,0.55,0.95);
}

.FAQ_background_ready {
    filter: blur(2px);
}

.faqTitleBlur {
    height: fit-content;
    width: auto;
    aspect-ratio: 2.77;
    align-self: center;
    filter: blur(0.5px);
}

.faqTitleMask {
    mask-image: url(/img/rubber_stamp.webp);
    mask-size: calc((232/354)*100%) calc(8.5cqh + 2.4rem);
    mask-position: calc(50% - 0.1rem) 0px;
    align-self: center;
    height: fit-content;
    width: 100%;
    display: flex;
    font-size: 4.1cqh;
    justify-content: center;
}

@supports (-webkit-hyphens:none) {
    .faqTitleMask {
        mask-size: 100% calc(8.5cqh + 2.4rem);
    }
}

.faqTitle {
    width: fit-content;
    height: fit-content;
    align-self: center;
    background-color: transparent;
    border: solid 0.7rem #b73a37;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
    opacity: 90%;
    margin-bottom: 1rem;
}

.faqTitle > h1 {
    color: #b73a37;
    font-family: "Futura condensed", "Jost", sans-serif;
    margin: 0;
    user-select: none;
    line-height: 8.6cqh;
    background: url(https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2.jpg); /* Set the backround image */
    background-clip: text;
}

.backButton {
    position: absolute;
    top: 3.2rem;
    left: 3rem;
    font-family: "Futura-Medium", "Jost", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(18 18 18 / 88%) !important;
}

.faqContainer {
    position:relative;
    width: 54rem;
    min-height: calc(100% - 6vh);
    height: fit-content;
    box-shadow: 0 0 0px 0px rgba(0,0,0,0.0);
    opacity: 0.75;
    transition: 0.45s opacity cubic-bezier(0.45,0.05,0.55,0.95), 0.45s 0.3s box-shadow cubic-bezier(0.39, 0.57, 0.56, 1), 0.75s transform cubic-bezier(0.39,0.57,0.56,1);
}

.faqReady {
    opacity: 1;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transform: translateY(0%) !important;
}

.faqContents {
    display: flex;
    position: absolute;
    top: 0;
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.55rem;
    filter: unset;
    min-height: 80vh !important;
}

.paper {
    border-radius: 10px;
    background-color: hsl(36 67% 95%);
    contain: paint;
    filter: blur(1.25px);
}

.paper::before {
    content: "";
    position: absolute;
    opacity: 0.275;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(https://framerusercontent.com/images/wey20Oh4D1flVO5T4XT24fWRuo.jpg), black;;
    background-repeat: repeat;
    background-blend-mode: luminosity;
    background-size: auto;
}

@supports (-webkit-hyphens:none) {
    .paper::before {
        background-size: cover;
    }
    
    .paper::after {
        content: "";
        backdrop-filter: blur(1.25px);
    }
}

.tableOfContents a {
    margin: 0;
}

.faqContents h2, .faqContents span{
    filter: blur(0.5px);
    margin: 0;
    text-wrap: balance;
    text-wrap: pretty;
    color: rgb(18 18 18 / 88%);
}

.faqContents > h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    width: 95%;
}

.faqContents > span {
    font-family: "Futura Condensed", "Jost", sans-serif;
    font-size: 1.35rem;
    align-self: flex-start;
    text-wrap: pretty;
}

.faqContents ul {
    margin: 0;
}

.faqContents a, .faqContents a:visited {
    color: rgb(123, 63, 0);
    text-decoration: none;
}

.faqContents a:hover {
    text-decoration: underline;
}

.faqContents > *::-moz-selection {
    background-color: unset !important;
    color: unset !important;
}

.faqContents > *::selection {
    background-color: unset !important;
    color: unset !important;
}

@media (max-width: 1200px) {
    .paper::before {
        background: url(https://framerusercontent.com/images/wey20Oh4D1flVO5T4XT24fWRuo.jpg?scale-down-to=900), black;;
        background-repeat: repeat;
    }    
}

@media (max-width:800) {
    .paper::before {
        background: url(https://framerusercontent.com/images/wey20Oh4D1flVO5T4XT24fWRuo.jpg?scale-down-to=600), black;;
        background-repeat: repeat;
    }    
}

@media (pointer: coarse) {
    .faq {
        padding-bottom: 0;
        padding-top: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .faqContents {
        padding: 2rem;
    }

    .faqContents > h2 {
        width: 100%;
    }
    
    .backButton {
        left: 2rem;
        top: 2rem;
    }

    .paper {
        contain: unset;
    }

    .faqContainer {
        width: 100vw;
        left: 0;
        transform: unset !important;
    }

    .faqTitleBlur {
        width: calc(100vw - 4rem);
        aspect-ratio: unset;
    }

    .faqTitleMask {
        font-size: calc(max(4.1cqh, 4.1cqw));
        mask-size: calc(8ch + 4rem + 1.4rem) calc(max(9cqh, 9cqw) + 2.4rem);
        mask-position: calc(50% - 0.1rem) 0;
    }

    .faqTitle {
        margin-bottom: 1rem;
    }

    .faqTitle > h1 {
        line-height: max(8.6cqh, 8.6cqw);
    }

    .faqContents > h2 {
        font-size: 1.35rem;
    }

    .faqContents > span {
        font-size: 1.25rem;
    }

    .FAQ_background {
        display: none;
    }
}

@media (pointer: coarse) and (orientation: portrait) {
    .faqTitle {
        margin-top: 8cqh;
    }

    .faqTitleMask {
        mask-position: calc(50% - 0.1rem) 8cqh;
    }
}