.faq {
}

.FAQ_background {
    position: fixed;
    background-image: url("/img/lens_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;

    filter: blur(5px);
    transform: scale(1.1);
}

.paper {
    position: absolute;
    width: 54rem;
    height: calc(100% - 6vh);
    margin-top: 3vh;
    padding: 3rem;
    border-radius: 10px;
    background: #eee7d7;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    contain: paint;
    filter: blur(1px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper img {
    opacity: 0.55;
}

.faqTitle {
    width: fit-content;
    height: fit-content;
    background-color: #121212;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    opacity: 90%;
    filter: blur(0.2px);
}

.faqTitle > h1 {
    color: white;  /* Fallback: assume this color ON TOP of image */
    font-family: "Futura condensed", "Jost", sans-serif;
    margin: 0;
    user-select: none;
    font-size: 7cqh;
    background: url(https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2.jpg); /* Set the backround image */
    background-clip: text;;
    -webkit-background-clip: text; /* clip the background to the text inside the tag*/
    -webkit-text-fill-color: transparent; /* make the text transparent so the background shows through */
}

.faqContents {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 12rem;
    background: transparent;
    filter: blur(0.5px);
    z-index: 2;
    min-height: unset !important;
}

.faqContents > h2 {
    font-family: "Futura condensed", "Jost", sans-serif;
    font-size: 1.6rem;
    color: #121212;
    margin: 0;
}

.faqContents > span {
    font-family: "Futura condensed", "Jost", sans-serif;
    font-size: 1.35rem;
    color: #121212;
    margin: 0;
    align-self: flex-end;
    text-align: end;
}