.home_subroot {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: static;
    min-height: 100svh;
    min-width: 100vw;
    width: max-content;
    top: 0;
    contain: paint;
}

.home_root {
    position: sticky;
    min-height: 100svh;
    width: fit-content;
    height: auto;
    aspect-ratio: 1;
    top: 0;
    left: 0;

}

.home {
    --unit: 1svh;

    display: inline-flex;
    position: sticky;
    top: 0;
    height: 100svh;
    width: fit-content;
    will-change: transform;
    overflow: visible !important;
}

.home * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.swipe_anim {
    position: sticky;
    z-index: 999;
    top: 25%;
    right: 4%;
    width: fit-content;
    height: fit-content;
    transform: translateY(-50%) translateZ(0px) !important;
    opacity: 0.75;
}

/* Layer 0 */

.backwall {
    position: absolute;
    width: 100%;
    height: 79.8%;
    /* width: 3840px;
    height: 664px; */
    background-color: #f6f6f6;
    top: 11.5%;
    left: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    contain: paint;
    display: flex;
    flex-direction: row;
}

.backwall_paint {
    height: 100%;
    width: 100%;
    background-color: #D8D8D8;
}

.backwall_light {
    width: auto;
    height: 114.53%;
    aspect-ratio: 3840/1000;
    position: relative;
    left: 0px;
    top: -8.53%;
    object-fit: contain;
    contain: paint;
    mix-blend-mode: multiply;
    background-color: #d8d8d8;
}

.backwall_light > div {
    left: -100svh;
}

.backwall_light img {
    width: 190% !important;
}

.posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px calc(min(25.6svh, 25vw));

    position: absolute;
    width: 100%;
    height: 96.5%;
    /* left: calc(-18svh - 20vw); */
    top: 48%;
    transform: translateY(-50%)  !important;
}

@supports (-webkit-hyphens:none) {
    .posters {
        transform: translateY(-50%) translateZ(0px) !important;
    }
}

.posters > *:not(:empty) {
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.1));
    border-radius: 2px;
    flex: none;
    flex-grow: 0;
    position: relative !important;
}

.poster {
    transform: translateX(calc(-100svh)) !important;
}

@supports (-webkit-hyphens:none) {
    .poster {
        transform: translateX(calc(-100svh)) translateZ(0px) !important;
    }
}

.poster img {
    border: solid #EAEAEA 7px;
    object-fit: cover !important;
    opacity: 0.85;
}

.leuven {
    aspect-ratio: calc(440/288);
    width: auto;
    height: 50%;
}

.leuven img {
    border-color: white !important;
}

.akerman {
    aspect-ratio: calc(337/296);
    width: auto;
    height: 50%;
}

.brel {
    aspect-ratio: calc(337/448);
    width: auto;
    height: 67%;
    /* margin-left: 20svh; */
}

.akerman img {
    object-position: 62%;
}

.redford{
    aspect-ratio: calc(512/397);
    width: auto;
    height: calc(67% * 0.8923);
    /* margin-left: 3svh; */
}

.congo {
    aspect-ratio: 2267/1704;
    width: auto;
    height: 67%;
}

.cavell {
    aspect-ratio: 2267/1704;
    width: auto;
    height: 52%;
}

.walenbuiten {
    aspect-ratio: 2267/1704;
    width: auto;
    height: calc(67% * 0.8923);
}

.stones {
    aspect-ratio: 1;
    width: auto;
    height: 67%;
}

.gap {
    position: relative;
}

.eggchair, .plant, .plant_front {
    aspect-ratio: 1;
    width: auto;
    height: 45%;
    margin-top: auto;
    top: 7%;
    position: relative;
    pointer-events: none;
}

.plant_front {
    top: 17svh;
    height: 89%;
}

.eggchair img, .plant img {
    object-fit: contain;
}

.plant {
    top: 6% !important;
}

.eggchair {
   
}

.ceiling {
    width: 100%;
    height: 11.5%;
    top: 0;
    background: linear-gradient(180deg, black 0%, transparent 50%);
}

.ceiling, .ceiling_2 {
    position: absolute;
    opacity: 25%;
    transform: rotate(180deg);
    transform-origin: 46%;
}

@supports (-webkit-hyphens:none) {
    .ceiling, .ceiling_2 {
        transform: rotate(180deg) translateZ(0px) !important;
    }
}

.ceiling_2 {
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 88.5%;
}

.ceiling_3 {
    position: absolute;
    width: 100%;
    height: 11.5%;
    left: 0;
    top: 0;
    background: #D3D3D3;
}

.floor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 88.5%;
    opacity: 30%;
    background: linear-gradient(180deg, black 0%, transparent 6.38%);
}

.floor_2 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 88.5%;
    opacity: 0.70;
}

.floor_3 {
    position: absolute;
    width: 100%;
    height: 11.5%;
    left: 0;
    bottom: 0;
    background: #E0E0E0;
}

/* Layer 1 */

.season_frame div[data-framer-name="Wall"] {
    height: calc(100%*(7/9));
    width: auto;
    min-width: calc(100%*(7/9));
    padding: calc(85svh / 9);
    align-items: flex-start;
    flex-flow: column;
    place-content: center flex-start;
    display: flex;
    gap: 24px;
}

.season_frame {
    height: 100% !important;
    width: auto !important;
    min-width: calc(784/720 * 85svh);
}

.invisible_season div[data-framer-name="Wall"] {
    padding: 0 !important;
}

.season_frame div[data-framer-name="Chair"] {
    aspect-ratio: calc(280/239);
    height: 33.2% !important;
    width: auto;
    bottom: -7.8% !important;
    left: 0% !important;
}

.season_frame div[data-framer-name="Header"] {
    position: static;
    aspect-ratio: calc(25.58/720);
    height: 5.36% !important;
    width: auto !important;
    gap: 2.4rem !important;
    padding-bottom: 1rem;
    left: 10.2% !important;
    top: 11% !important;
}

.season_frame div[data-framer-name="Header"] > * {
    height: 100%;
    place-content: space-between !important;
}

.season_frame div[data-framer-name="Header"] * {
    width: auto !important;
    left: unset !important;
    aspect-ratio: unset !important;
}

.season_frame div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    height: 50%;
}

.season_frame div[data-framer-name="Logo"] * {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    aspect-ratio: unset !important;
    bottom: unset !important;
    top: unset !important;
    object-fit: contain;
    inset: unset !important;
}

.season_frame div[data-framer-name="Logo"] {
    height: 85%;
    aspect-ratio: calc(512/102) !important;
}

.season_frame div[data-framer-name="Logo"] > div {
    height: 100% !important;
}

.season_frame div[data-framer-name="Header"] p {
    line-height: 1.35ch;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"] {
    height: fit-content !important;
    position: absolute;
    padding-bottom: 0 !important;
}

.season_frame div[data-framer-name="Header"] > div:nth-child(2) {
    width: 1px !important;
}

.season_frame div[data-framer-name="Header"] > div:last-child {
    width: -webkit-fill-available !important;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    top: 0;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(2) {
    bottom: 0;
    --framer-font-size: 0.45rem;
}

.season_frame div[data-framer-name="LEGENDE"] {
    height: 1.666%;
    width: auto;
    /* gap: 16%; */
    gap: 2.15rem;
    padding: 0;
    place-content: unset;
    bottom: calc(100%/6.56);
    right: calc(85svh/9);
    left: initial !important;
    justify-content: end;
}

.season_frame div[data-framer-name="LEGENDE"] > div {
    height: 100% !important;
    width: auto !important;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(1) {
    aspect-ratio: 31/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(2) {
    aspect-ratio: 13/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(3) {
    aspect-ratio: 28/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(4) {
    aspect-ratio: 21/12;
}

.season_frame div[data-framer-name="LEGENDE"] p {
    --framer-font-size: 0.132rem !important;
}

.season_frame div[data-framer-name="Albums"] {
    position: static;
    width: 100%;
    display: grid !important;
    place-items: stretch;
    grid-template-columns: repeat(auto-fill, 17.5svh); /* Adjust the minmax value as needed */
    grid-template-rows: repeat(2, 1fr); /* 3 rows */
    grid-auto-columns: 1fr; /* Automatically add more columns if needed */
    grid-auto-flow: column;
    gap: 7svh;
    row-gap: calc(7 * max(1svh, 8px));
    overflow: visible;
}

.season_frame div[data-framer-name="Albums"] > div div, .season_frame div[data-framer-name="Albums"] a {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.season_frame div[data-framer-name="Album_support"] {
    height: 10% !important;
    width: 50% !important;
    inset: 96% 25% -4px !important;
}

.lamps_1_5 { /* ceiling lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 133svh;
    transform: translateX(90svh) translateZ(7px) !important;

    position: relative;
    width: fit-content;
    height: 27svh;
    top: 0;
}

.lamps_2 { /* ceiling lamps front */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 133svh;
    transform: translateX(40svh)  !important;

    position: relative;
    width: fit-content;
    height: 85svh;
    top: -34.5svh;
}

@supports (-webkit-hyphens:none) {
    .lamps_2 {
        transform: translateX(40svh) translateZ(10px) !important;
    }
}

.lamp {
    aspect-ratio: 2233/2291;
    width: auto;
    height: 45%;
    position: relative;
}

.lamp img {
    object-fit: contain;
}

.front_column {
    aspect-ratio: 595/1110;
    height: calc(1110/832 * 100svh) !important;
    width: auto !important;
    transform: translateY(-12%)  !important;
    background-color: #826853;
    padding: 0.1% 0 !important;
    filter: none;
    pointer-events: all;
    transition: filter 0.8s ease-out 0.5s;
}

@supports (-webkit-hyphens:none) {
    .front_column {
        transform: translateY(-12%) translateZ(20px) !important;
    }
}

.front_column.blur8 {
    filter: blur(8px);
    transition: filter 0.4s ease-out 0.25s;
}

/* Layers */

.layer {
    position: absolute;
    overflow: clip;
}

@supports (-webkit-hyphens:none) {
    .layer_0, .layer_0 * { transform: translateZ(0px); }
    .layer_1, .layer_1 * { transform: translateZ(5px) !important; }
    .layer_2, .layer_2 * { transform: translateZ(10px) !important; }
}

.layer_0 { /* wall, ceiling, floor */
    padding-right: 15%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.layer_0_5 { /* back chairs and plants */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px calc(1svh + 10vw);
    padding-bottom: 5.2%;
    pointer-events: none;

    position: absolute;
    width: fit-content;
    height: 79.8%;
    top: 8%;
}

.layer_0_5 > * {
    min-height: 1px;
    pointer-events: none;
}

.layer_0_5, .layer_0_5 * { transform: translateZ(4px) !important; }

.layer_1 { /* Season Walls */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px calc(min(25.6svh, 25vw));
    padding-bottom: 5.2%;
    gap: 50svh;

    position: relative;
    width: fit-content;
    height: 85%;
    z-index: 5;
    top: 8%;

    opacity: 1;
}

.layer_1_5 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.layer_1_5 > * {
    filter: blur(1px);
}

.layer_1_5, .layer_1_5 * { transform: translateZ(7px) !important; }

.layer_2 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.layer_2 > * {
    filter: blur(2px);
}

.layer_3_wrapper { /* X offset */
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: unset !important;
}

.layer_3 { /* Calumn, plant */ 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: calc(100vw - 44.5svh);
    gap: calc(max(275vw, 538svh));

    position: absolute;
    z-index: 15;
}


.layer_3_wrapper, .layer_3_wrapper * { transform: translateZ(20px) !important; }

/* attributes */

.blur16 {
    filter: blur(16px);
    transition: filter 0.8s ease-out 0.5s;
}

.blur8 {
    filter: blur(8px);
    transition: filter 0.8s ease-out 0.5s;
}

.blurReady {
    transition: filter 0.4s ease-out 0.1s;
}

@media (pointer:coarse) {
    .home_subroot {
        height: 100svh;
        display: block;
        min-width: unset !important;
    }

    .home_root {
        position: relative;
        height: 100svh;
        left: calc(50% - 50vw);
        aspect-ratio: unset;
    }

    .poster {
        transform: translateX(calc(-20svmax)) translateZ(0px) !important;
    }
}

@media (pointer:coarse) and (orientation:portrait) {
    .home_root {
        height: 100svh;
    }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
    .home_subroot {
        height: 100svh !important;
    }
}

@media (pointer:coarse) and (orientation:landscape) {
    .home_subroot {
        height: 100vw;
        overflow: visible;
        rotate: 90deg;
    }

    .home_root {
        height: unset !important;
        top: 100%;
        left: calc(50% - 50svh);
    }

    .home {
        --unit: 1svmax;
        translate: 0 -100vw;
        transform-origin: 0% 100%;
        height: 100vw;
    }

    .layer_1 {
        gap: 50svmax;
    }

    .layer_3 {
        gap: 275svmin;
        padding-left: calc(100svmax - 44.5svmin);
    }

    .season_frame div[data-framer-name="Albums"] {
        grid-template-columns: repeat(auto-fill, 17.5svmax);
        gap: 7svmax;
        row-gap: calc(7 * max(1svmax, 8px));
    }

    .posters {
        left: -28svmax;
    }

    .eggchair {
        left: -20svmax;
    }

    .plant_front {
        top: 17svmax;
        height: 89%;
    }

    .season_frame > div[data-framer-name="Wall"] {
        padding: calc(85svmax / 9);
    }

    .season_frame {
        min-width: calc(784/720 * 85svmax);
    }

    .lamps_1_5 { /* ceiling lamps */ 
        gap: 133vvmax;
        transform: translateX(90svmax) !important;
        height: 27svmax;
    }

    @supports (-webkit-hyphens:none) {
        .lamps_1_5 {
            transform: translateX(90svmax) translateZ(6px) !important;
        }
    }

    .lamps_2 { /* ceiling lamps front */ 
        gap: 133svmax;
        transform: translateX(40svmax)  !important;
        height: 85svmax;
        top: -34.5svmax;
    }

    @supports (-webkit-hyphens:none) {
        .lamps_2 {
            transform: translateX(40svmax) translateZ(10px) !important;
        }
    }

    .front_column {
        height: calc(1110/832 * 100svmax) !important;
    }

    .left_m15 {
        left: -15svmax;
    }

    .left_m30 {
        left: -30svmax;
    }
}