.home_subroot {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: static;
    min-height:  100vh;
    min-height:  100svh;
    min-width: 100vw;
    width: max-content;
    top: 0;
    contain: paint;
}

.home_root {
    position: sticky;
    min-height:  100vh;
    min-height:  100svh;
    width: fit-content;
    height: auto;
    aspect-ratio: 1;
    top: 0;
    left: 0;
}

.home {
    --unit: 1vh;
    --unit: 1svh;
    --layer_1_gap: 50vh;
    --layer_1_gap: 50svh;

    display: inline-flex;
    position: sticky;
    top: 0;
    height: 100vh;
    height: 100svh;
    width: fit-content;
    will-change: transform;
    overflow: visible !important;
}

.home * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@supports (-webkit-hyphens:none) or (pointer:coarse) {
    .home, .home * {
        transform: translateZ(0px);
    }
}

.swipe_anim {
    position: sticky;
    z-index: 999;
    top: 25%;
    right: 4%;
    width: fit-content;
    height: fit-content;
    transform: translateY(-50%) translateZ(0px) !important;
    opacity: 0.75;
}

/* Layer 0 */

.backwall {
    position: absolute;
    width: 100%;
    height: 79.8%;
    /* width: 3840px;
    height: 664px; */
    background-color: #f6f6f6;
    top: 11.5%;
    left: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    contain: paint;
    display: flex;
    flex-direction: row;
}

.backwall_paint {
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
}

.backwall_light {
    width: auto;
    height: 114.53%;
    aspect-ratio: 3840/1336;
    position: absolute;
    left: -105vmin;
    top: -8.53%;
    object-fit: contain;
    contain: paint;
    mix-blend-mode: overlay;
    opacity: 0.8;
}

.backwall_light > div {
    left:  -100vh;
    left:  -100svh;
}

.backwall_light img {
    width: 190% !important;
}

.posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  0px calc(min(25.6vh, 25vw));
    padding:  0px calc(min(25.6svh, 25vw));

    position: absolute;
    width: 100%;
    height: 96.5%;
    top: 48%;
}

.posters > *:not(:empty) {
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.1));
    border-radius: 2px;
    flex: none;
    flex-grow: 0;
    position: absolute !important;
}

.poster {
    transform:  translateX(calc(-100vh)) !important;
    transform:  translateX(calc(-100svh)) !important;
}

@supports (-webkit-hyphens:none) {
    .poster {
        transform:  translateX(calc(-100vh)) translateZ(0px) !important;
        transform:  translateX(calc(-100svh)) translateZ(0px) !important;
    }
}

.poster img {
    border: solid #EAEAEA 7px;
    object-fit: cover !important;
    opacity: 0.85;
}

.gap {
    position: relative;
}

.eggchair, .plant, .plant_front {
    aspect-ratio: 1;
    width: auto;
    height: 45%;
    margin-top: auto;
    top: 7%;
    position: relative;
    pointer-events: none;
}

.plant_front {
    top:  17vh;
    top:  17svh;
    height: 89%;
}

.eggchair img, .plant img {
    object-fit: contain;
}

.plant {
    top: 6% !important;
}

.ceiling {
    position: absolute;
    transform: rotate(180deg);
    transform-origin: 46%;
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 88.5vh;
    bottom: 88.5svh;
}

@supports (-webkit-hyphens:none) {
    .ceiling {
        transform: rotate(180deg) translateZ(0px) !important;
    }
}

.ceiling::before {
    content: " ";
    width: 100%;
    height: 11.5vh;
    height: 11.5svh;    
    position: absolute;
    display: block;
    background: #D3D3D3;
}

.ceiling::after {
    content: " ";
    width: 100%;
    height: 11.5vh;
    height: 11.5svh;
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, transparent 100%);
}

.ceiling > div {
    opacity: 0.25;
}

.floor {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 88.5vh;
    top: 88.5svh;
}

@supports (-webkit-hyphens:none) {
    .floor {
        transform: translateZ(0px) !important;
    }
}

.floor::after {
    content: " ";
    width: 100%;
    height: 11.5vh;
    height: 11.5svh;    
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, transparent 57%);
}

.floor::before {
    content: " ";
    width: 100%;
    height: 11.5vh;
    height: 11.5svh;
    position: absolute;
    display: block;
    background: #E0E0E0;
}

.floor > div {
    opacity: 0.7;
}

/* Layer 1 */

.season_frame div[data-framer-name="Wall"] {
    height: calc(100%*(7/9));
    width: auto;
    min-width: calc(100%*(7/9));
    padding:  calc(85vh / 10);
    padding:  calc(85svh / 10);
    padding-bottom:  calc(85vh / 8.2);
    padding-bottom:  calc(85svh / 8.2);
    align-items: flex-start;
    flex-flow: column;
    place-content: center flex-start;
    display: flex;
    gap: calc(min(24px, 1vh));
}

@media screen and (max-width: 1200px) and (orientation:portrait){
    .season_frame div[data-framer-name="Wall"] {
        padding-top:  3rem;
        padding-bottom: calc(85vh / 8.2 + (85vh / 10 - 3rem));
        padding-bottom: calc(85svh / 8.2 + (85svh / 10 - 3rem));
    }
}

@media screen and (max-height: 599px) {
    .season_frame div[data-framer-name="Wall"] {
        padding-top: 1rem;
    }

    .season_frame div[data-framer-name="Logo"] * {
        position: relative !important;
    }
}

.season_frame {
    height: 100% !important;
    width: auto !important;
    min-width:  calc(784/720 * 85vh);
    min-width:  calc(784/720 * 85svh);
}

.invisible_season div[data-framer-name="Wall"] {
    padding: 0 !important;
}

.season_frame div[data-framer-name="Chair"] {
    aspect-ratio: calc(280/239);
    height: 33.2% !important;
    width: auto;
    bottom: -7.8% !important;
    left: 0% !important;
}

.season_frame div[data-framer-name="Header"] {
    position: static;
    aspect-ratio: calc(25.58/720);
    height: 1.9rem !important;
    width: auto !important;
    min-height: 1.5rem;
    gap: 2.4rem !important;
    padding-bottom: 1.6vh;
    padding-bottom: 1.6svh;
    left: 10.2% !important;
    top: 11% !important;
}

.season_frame div[data-framer-name="Header"] > * {
    height: 100%;
    place-content: space-around !important;
}

.season_frame div[data-framer-name="Header"] * {
    width: auto !important;
    left: unset !important;
    aspect-ratio: unset !important;
}

.season_frame div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    height: 50%;
}

.season_frame div[data-framer-name="Logo"] * {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    aspect-ratio: unset !important;
    bottom: unset !important;
    object-fit: contain;
    inset: unset !important;
    top: 0 !important;
}

.season_frame div[data-framer-name="Logo"] {
    height: 85%;
    aspect-ratio: calc(512/102) !important;
}

.season_frame div[data-framer-name="Logo"] > div {
    height: 100% !important;
}

.season_frame div[data-framer-name="Header"] p {
    line-height: 1.15ch;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"] {
    height: fit-content !important;
    position: absolute;
    padding-bottom: 0 !important;
}

.season_frame div[data-framer-name="Header"] > div:nth-child(2) {
    width: 1px !important;
}

.season_frame div[data-framer-name="Header"] > div:last-child {
    width: -webkit-fill-available !important;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    top: 0;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(2) {
    bottom: 0;
    --framer-font-size: 0.45rem;
}

.season_frame div[data-framer-name="LEGENDE"] {
    height: 1.666%;
    width: auto;
    gap: 1.5rem;
    padding: 0;
    place-content: unset;
    bottom: calc(100%/11.56);
    right:  calc(85vh/9);
    right:  calc(85svh/9);
    left: initial !important;
    justify-content: end;
}

.season_frame div[data-framer-name="LEGENDE"] > img {
    height: 100%;
    width: auto;
}

.season_frame div[data-framer-name="LEGENDE"] > img:nth-child(1) {
    aspect-ratio: 31/12;
}

.season_frame div[data-framer-name="LEGENDE"] > img:nth-child(2) {
    aspect-ratio: 13/12;
}

.season_frame div[data-framer-name="LEGENDE"] > img:nth-child(3) {
    aspect-ratio: 28/12;
}

.season_frame div[data-framer-name="LEGENDE"] > img:nth-child(4) {
    aspect-ratio: 21/12;
}

.season_frame div[data-framer-name="LEGENDE"] p {
    --framer-font-size: 0.132rem !important;
}

.season_frame div[data-framer-name="Albums"] {
    position: static;
    width: 100%;
    display: grid !important;
    place-items: stretch;
    grid-template-columns:  repeat(auto-fill, 20vh); /* Adjust the minmax value as needed */
    grid-template-columns:  repeat(auto-fill, 20svh); /* Adjust the minmax value as needed */
    grid-template-rows: repeat(2, 1fr); /* 3 rows */
    grid-auto-columns: 1fr; /* Automatically add more columns if needed */
    grid-auto-flow: column;
    gap:  7vh;
    gap:  7svh;
    row-gap:  calc(max(7vh, 6rem));
    row-gap:  calc(max(7svh, 6rem));
    overflow: visible;
}

.season_frame div[data-framer-name="Albums"] > a div, .season_frame div[data-framer-name="Albums"] a {
    height: auto;
    width: 100%;
    aspect-ratio: 1;
}

.season_frame div[data-framer-name="Albums"] a {
    position: relative;
    overflow: visible;
}

.season_frame div[data-framer-name="Albums"] > a p {
    white-space: pre-wrap;
    overflow: clip;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 6ch;
    padding-left: 0.5ch;
    margin: 1rem 0px !important;
}

.season_frame div[data-framer-name="Albums"] > a span {
    color: rgb(66, 56, 37);
    font-size: calc(max(0.935rem, 1.7vmin));
    text-align: left;
    font-size: 0.935rem;
}

.season_frame div[data-framer-name="Albums"] > a span:first-child {
    font-family: "Futura Condensed Extra";
    font-weight: 700;
}

.season_frame div[data-framer-name="Albums"] > a span:last-child {
    font-family: "Futura-Medium", "Jost", sans-serif;
    font-weight: 400;
}

.lamps_1_5 { /* ceiling lamps */ 
    --lamp-width: calc(27vh*0.45*(2233/2291));
    --lamp-width: calc(27svh*0.45*(2233/2291));

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: calc(100vmax - var(--lamp-width));
    gap: calc(100svmax - var(--lamp-width));

    position: relative;
    width: fit-content;
    height:  27vh !important;
    height:  27svh !important;
    top: 0;
    left: calc(50vw - var(--lamp-width)/2);
}

.lamps_2 { /* ceiling lamps front */ 
    --lamp-width: calc(85vh*0.45*(2233/2291));
    --lamp-width: calc(85svh*0.45*(2233/2291));

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: calc(153.5vmax - var(--lamp-width));
    gap: calc(153.5svmax - var(--lamp-width));

    position: relative;
    width: fit-content;
    height:  85vh !important;
    height:  85svh !important;
    top:  -34.5vh;
    top:  -34.5svh;
    left: calc(50vw - var(--lamp-width)/2);
}

@supports (-webkit-hyphens:none) {
    .lamps_2 {
        transform: translateZ(10px) !important;
    }
}

.lamp {
    aspect-ratio: 2233/2291;
    width: auto;
    height: 45%;
    position: relative;
}

.lamp img {
    object-fit: contain;
}

.front_column {
    aspect-ratio: 595/1110;
    height:  calc(1110/832 * 100vh) !important;
    height:  calc(1110/832 * 100svh) !important;
    width: auto !important;
    background-color: #826853;
    filter: none;
    pointer-events: all;
    transition: filter 0.8s ease-out 0.5s;
}

@supports (-webkit-hyphens:none) {
    .front_column {
        transform: translateY(-12%) translateZ(20px) !important;
    }
}

.front_column.blur8 {
    filter: blur(8px);
    transition: filter 0.4s ease-out 0.25s;
}

/* Layers */

.layer {
    position: absolute;
    overflow: clip;
}

@supports (-webkit-hyphens:none) {
    .layer_0, .layer_0 * { transform: translateZ(0px); }
    .layer_1, .layer_1 * { transform: translateZ(5px) !important; }
    .layer_2, .layer_2 * { transform: translateZ(10px); }
}

.layer_0 { /* wall, ceiling, floor */
    padding-right: 15%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.layer_0_5 { /* back chairs and plants */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:  0px calc(1vh + 10vw);
    padding:  0px calc(1svh + 10vw);
    padding-bottom: 5.2%;
    pointer-events: none;

    position: absolute;
    width: fit-content;
    height: 79.8%;
    top: 8%;
}

.layer_0_5 > * {
    min-height: 1px;
    pointer-events: none;
}

.layer_0_5, .layer_0_5 * { transform: translateZ(4px) }

.layer_1 { /* Season Walls */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:  0px calc(min(25.6vh, 25vw));
    padding:  0px calc(min(25.6svh, 25vw));
    padding-bottom: 5.2%;
    gap: var(--layer_1_gap);

    position: relative;
    width: fit-content;
    height: 85%;
    z-index: 5;
    top: 8%;

    opacity: 1;
}

.layer_1_5 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.lamps_1_5 > * {
    filter: blur(1.5px);
    transform: translateZ(7px);
}

.layer_2 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.lamps_2 > * {
    filter: blur(2px);
    transform: translateZ(8px);
}

.layer_3_wrapper { /* X offset */
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: unset !important;
}

.layer_3 { /* Calumn, plant */ 
    height: 103vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left:  calc(100vw - 44.5vh);
    padding-left:  calc(100vw - 44.5svh);
    gap: calc(max(275vw, 538vh));
    gap: calc(max(275vw, 538svh));

    position: absolute;
    z-index: 15;
}

.layer_3_wrapper { transform: translateZ(20px) }

.layer_3 > * { transform: translateZ(20px) translateY(-8.5%); }

/* attributes */

.blur16 {
    filter: blur(16px);
    transition: filter 0.8s ease-out 0.5s;
}

.blur8 {
    filter: blur(8px);
    transition: filter 0.8s ease-out 0.5s;
}

.blurReady {
    transition: filter 0.4s ease-out 0.1s;
}

@media (pointer:coarse) {
    .home_subroot {
        height:  100vh;
        height:  100svh;
        display: block;
        min-width: unset !important;
    }

    .home_root {
        position: relative;
        height:  100vh;
        height:  100svh;
        left: calc(50% - 50vw);
        aspect-ratio: unset;
    }

    .poster {
        transform: translateX(-0vmin) translateZ(0px) !important;
        transform: translateX(-0svmin) translateZ(0px) !important;
    }

    .lamps_1_5 {
        gap: calc(175vmax - var(--lamp-width));
    }

    .lamps_2 {
        gap: calc(268.625vmax - var(--lamp-width));
    }
}

@media (max-height:800px) {
    .season_frame div[data-framer-name="LEGENDE"] {
        bottom: 2rem;
        right:  4rem;
    }
}

@media screen and (max-height:699px) {
    .season_frame div[data-framer-name="LEGENDE"] {
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
    .home_subroot {
        height:  100vh !important;
        height:  100svh !important;
    }

    .layer_3 {
        gap: calc(max(550vw, 1068vh));
        gap: calc(max(550svw, 1068svh));
    }

    .posters {
        padding:  unset !important;
    }
}

@media (pointer:coarse) and (orientation:landscape) {
    .home_subroot {
        height: 100vw;
        overflow: visible;
        rotate: 90deg;
    }

    .home_root {
        height: unset !important;
        top: 100%;
        left:  calc(50% - 50vh);
        left:  calc(50% - 50svh);
    }

    .home {
        --unit:  1vmax;
        --unit:  1svmax;
        translate: 0 -100vw;
        transform-origin: 0% 100%;
        height: 100vw;
        --layer_1_gap: 50vmax !important;
        --layer_1_gap: 50svmax !important;
    }

    .layer_3 {
        gap:  275vmax;
        gap:  275svmin;
        padding-left:  calc(100vmax - 44.5vmin);
        padding-left:  calc(100svmax - 44.5svmin);
    }

    .season_frame div[data-framer-name="Albums"] {
        grid-template-columns:  repeat(auto-fill, 17.5vmax);
        grid-template-columns:  repeat(auto-fill, 17.5svmax);
        gap:  7vmax;
        gap:  7svmax;
        row-gap:  calc(max(7vmax, 6rem));
        row-gap:  calc(max(7svmax, 6rem));
    }

    .eggchair {
        left:  -20vmax;
        left:  -20svmax;
    }

    .plant_front {
        top:  17vmax;
        top:  17svmax;
        height: 89%;
    }

    .season_frame > div[data-framer-name="Wall"] {
        padding:  calc(85vmax / 10);
        padding:  calc(85svmax / 10);
    }

    .season_frame {
        min-width:  calc(784/720 * 85vmax);
        min-width:  calc(784/720 * 85svmax);
    }

    .lamps_1_5 { /* ceiling lamps */ 
        height:  27vmax;
        height:  27svmax;
    }

    .lamps_2 { /* ceiling lamps front */ 
        height:  85vmax;
        height:  85svmax;
        top:  -34.5vmax;
        top:  -34.5svmax;
        left: calc(50vmax - var(--lamp-width)/2);
    }

    .front_column {
        height:  calc(1110/832 * 100vmax) !important;
        height:  calc(1110/832 * 100svmax) !important;
    }

    .left_m15 {
        left:  -15vmax;
        left:  -15svmax;
    }

    .left_m30 {
        left:  -30vmax;
        left:  -30svmax;
    }
}

@media (pointer:fine) {
    .grab {
        cursor: grab;
    }
}