.home_subroot {
    display: grid;
    grid-template-rows: 4fr 4fr;
    grid-template-columns: 4fr 4fr;
    position: static;
    min-height: 100vh;
    min-width: 100vw;
    width: max-content;
    top: 0;
}

.home_root {
    position: sticky;
    min-height: 100vh;
    width: fit-content;
    height: auto;
    aspect-ratio: 1;
    top: 0;
    left: 0;

}

.home {
    display: inline-flex;
    position: sticky;
    top: 0;
    height: 100vh;
    width: fit-content;
    will-change: transform;
    overflow: visible !important;
}

/* Layer 0 */

.backwall {
    position: absolute;
    width: 100%;
    height: 79.8vh;
    /* width: 3840px;
    height: 664px; */
    background-color: #f6f6f6;
    top: 11.5vh;
    left: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.backwall_paint {
    height: 100%;
    width: 100%;
    background-color: #D8D8D8;
}

.backwall_light {
    width: auto;
    height: 114.53%;
    aspect-ratio: 3840/684;
    position: relative;
    left: 0px;
    top: -8.53%;
    object-fit: contain;
    overflow: visible;
    mix-blend-mode: multiply;
}

.posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 22vmin;

    position: absolute;
    width: 100%;
    height: 96.5%;
    left: 27vmin;
    top: 48%;
    transform: translateY(-50%);
}

.posters > * {
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15)) drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.1));
    border-radius: 2px;
    flex: none;
    flex-grow: 0;
    position: relative !important;
}

.posters img {
    object-fit: contain !important;
}

.leuven {
    aspect-ratio: calc(440/288);
    width: auto;
    height: calc(67% * 0.6473);
}

.brel {
    aspect-ratio: calc(337/448);
    width: auto;
    height: 67%;
}

.redford{
    aspect-ratio: calc(512/397);
    width: auto;
    height: calc(67% * 0.8923);
}

.stones {
    aspect-ratio: 1;
    width: auto;
    height: 67%;
}

.gap {
    position: relative;
}

.eggchair, .plant, .plant_front {
    aspect-ratio: 1;
    width: auto;
    height: 45%;
    margin-top: auto;
    top: 48px;
    position: relative;
}

.plant_front {
    top: 17vh;
    height: 89%;
}

.eggchair img, .plant img {
    object-fit: contain;
}

.ceiling {
    position: absolute;
    width: 100%;
    height: 11.5vmin;
    top: 0;
    opacity: 25%;
    background: linear-gradient(180deg, black 0%, transparent 50%);
    transform: rotate(180deg);
}

.ceiling_2 {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 88.5vh;
    opacity: 25%;
    background-image: url("/img/ceiling_floor.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.ceiling_3 {
    position: absolute;
    width: 100%;
    height: 11.5vh;
    left: 0;
    top: 0;
    background: #D3D3D3;
}

.floor {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 88.5vh;
    opacity: 30%;
    background: linear-gradient(180deg, black 0%, transparent 6.38%);
}

.floor_2 {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 88.5vh;
    background-image: url("/img/ceiling_floor.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.70;
}

.floor_3 {
    position: absolute;
    width: 100%;
    height: 11.5vh;
    left: 0;
    bottom: 0;
    background: #E0E0E0;
}

/* Layer 1 */

.season_frame > div[data-framer-name="Wall"] {
    height: calc(100%*(7/9));
    width: auto;
    min-width: calc(100%*(7/9));
    padding: calc(85vmin / 9);
    align-items: start;
    flex-flow: column;
}

.season_frame {
    height: 100% !important;
    width: auto !important;
    min-width: calc(784/720 * 85vh);
}

.season_frame div[data-framer-name="Chair"] {
    aspect-ratio: calc(280/239);
    height: 33.2% !important;
    width: auto;
    bottom: -7.8% !important;
    left: 0% !important;
}

.season_frame div[data-framer-name="Header"] {
    position: static;
    aspect-ratio: calc(25.58/720);
    height: 5.36% !important;
    width: auto !important;
    gap: 2.4rem !important;
    padding-bottom: 3.33%;
    left: 10.2% !important;
    top: 11% !important;
}

.season_frame div[data-framer-name="Header"] > * {
    height: 100%;
    place-content: space-between !important;
}

.season_frame div[data-framer-name="Header"] * {
    width: auto !important;
    left: unset !important;
    aspect-ratio: unset !important;
}

.season_frame div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    height: 50%;
}

.season_frame div[data-framer-name="Logo"] * {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    aspect-ratio: unset !important;
    bottom: unset !important;
    top: unset !important;
    object-fit: contain;
    inset: unset !important;
}

.season_frame div[data-framer-name="Logo"] {
    height: 85%;
    aspect-ratio: calc(512/102) !important;
}

.season_frame div[data-framer-name="Logo"] > div {
    height: 100% !important;
}

.season_frame div[data-framer-name="Header"] p {
    line-height: 1.35ch;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"] {
    height: fit-content !important;
    position: absolute;
    padding-bottom: 0 !important;
}

.season_frame div[data-framer-name="Header"] > div:nth-child(2) {
    width: 1px !important;
}

.season_frame div[data-framer-name="Header"] > div:last-child {
    width: -webkit-fill-available !important;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(1) {
    top: 0;
}

.season_frame div[data-framer-name="Header"] div[data-framer-component-type="RichTextContainer"]:nth-child(2) {
    bottom: 0;
    --framer-font-size: 0.84vh
}

.season_frame div[data-framer-name="LEGENDE"] {
    height: 1.666%;
    width: auto;
    /* gap: 16%; */
    gap: 2.15rem;
    padding: 0;
    place-content: unset;
    bottom: calc(85vh/6.56);
    right: calc(85vh/9);
    left: initial !important;
    justify-content: end;
}

.season_frame div[data-framer-name="LEGENDE"] > div {
    height: 100% !important;
    width: auto !important;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(1) {
    aspect-ratio: 31/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(2) {
    aspect-ratio: 13/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(3) {
    aspect-ratio: 28/12;
}

.season_frame div[data-framer-name="LEGENDE"] > div:nth-child(4) {
    aspect-ratio: 21/12;
}

.season_frame div[data-framer-name="LEGENDE"] p {
    --framer-font-size: calc(85vh * 0.006) !important;
}

.season_frame div[data-framer-name="Albums"] {
    position: static;
    width: 100%;
    display: grid !important;
    place-items: stretch;
    grid-template-columns: repeat(auto-fill, 17.5vmin); /* Adjust the minmax value as needed */
    grid-template-rows: repeat(2, 1fr); /* 3 rows */
    grid-auto-columns: 1fr; /* Automatically add more columns if needed */
    grid-auto-flow: column;
    gap: 3.5vmin;
    overflow: visible;
}

.season_frame div[data-framer-name="Albums"] > div div, .season_frame div[data-framer-name="Albums"] a {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.season_frame div[data-framer-name="Album_support"] {
    height: 10% !important;
    width: 50% !important;
    inset: 96% 25% -4px !important;
}

.lamps_1_5 { /* ceiling lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 118vh;
    transform: translateX(-300vh);

    position: relative;
    width: fit-content;
    height: 27vmin;
    top: 0;
    left: 66vmin;
}

.lamps_2 { /* ceiling lamps front */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 133vh;
    transform: translateX(-300vh);

    position: relative;
    width: fit-content;
    height: 85vmin;
    top: -34.5vh;
    left: 31vmin;
}

.lamp {
    aspect-ratio: 2233/2291;
    width: auto;
    height: 45%;
    position: relative;
}

.lamp img {
    object-fit: contain;
}

.front_column {
    aspect-ratio: 571/1110;
    height: calc(1110/832 * 100vh) !important;
    width: auto !important;
    transform: translateY(-12%);
}

/* Layers */

.layer {
    position: absolute;
    overflow: hidden;
}

.layer_0 { /* wall, ceiling, floor */
    padding-right: 15%;
    top: 0;
    bottom: 0;
    pointer-events: none;
    height: 100vh;
    width: 100%;
}

.layer_0_5 { /* back chairs and plants */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 14.5vw;
    padding-bottom: 5.2vh;
    pointer-events: none;

    position: absolute;
    width: fit-content;
    height: 79.8vh;
    top: 8vh;
}

.layer_0_5 > * {
    min-height: 1px;
    pointer-events: none;
}

.layer_1 { /* Season Walls */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 14.5vw;
    padding-bottom: 5.2vh;
    gap: 50vmin;

    position: relative;
    width: fit-content;
    height: 85vh;
    z-index: 5;
    top: 8vh;

    opacity: 1;
}

.layer_1_5 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 7;
}

.layer_2 { /* Lamps */ 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    pointer-events: none;
    overflow: visible;

    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.layer_3 { /* Calumn, plant */ 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    z-index: 15;
}

.layer_3_wrapper { /* X offset */
    pointer-events: none;
    transform: translateX(-400vw);
    padding-right: 400vw;
    width: 100%;
    height: 100vh;
    z-index: 15;
}