.frame {
    --controls-margin: 5svh;
    --computed-height: calc(max(12svh, 96px));
    --computed-width: calc(min(var(--computed-height) * (395/96), 100vw - 10svh));

    position: sticky;
    visibility: hidden;
    left: var(--controls-margin);
    top: 100%;
    transform: translateX(calc(-1 * var(--controls-margin) - var(--computed-width))) translateY(calc(-1 * var(--controls-margin)));
    
    border-radius: 8px;
    background: linear-gradient(-93deg, rgba(0, 0, 0, 0.05), transparent), linear-gradient(#EDE7D9, #EDE7D9);

    height: var(--computed-height);
    width: var(--computed-width);
    min-height: 96px;
    max-width: calc(100vw - 10svh);
    
    display: flex;
    overflow: clip;
    pointer-events: all !important;

    transition: transform .3s ease-in-out, width .3s ease-in-out;
}

.frame.active {
    transform: translateY(calc(-1 * var(--controls-margin))) !important;
    visibility: visible !important;
}

.frame:focus {
    outline: 0;
}

.frame.hovered {
    width: calc(100vw - 2 * var(--controls-margin));
}

.frame::before {
    content: "";
    display: block;
    min-width: calc(0.1315 * var(--computed-width));
    height: 100%;
    background: linear-gradient(to right,
            #C6A248 25%,
            #BC7450 25% 50%,
            #A8543F 50% 75%,
            #AB3C3C 75%
    );
}

.frame * {
    text-decoration: none !important;
}

.frame svg {
    width: 100%;
    height: 100%;
}

.frame .content {
    display: flex;
    position: relative;
    width: calc(100% - 0.1315 * var(--computed-width));
    align-items: center;
}

.content *:not(.playButtonBar) {
    transition: all 0.3s ease-in;
}

.content .text_section {
    height: 92%;
    /* width: min-content; */
    /* min-width: 26.33svh; */
    /* flex-basis: 0; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 0% calc(0.075 * var(--computed-width));
    transition: all 0.3s ease-in;
    overflow: clip;
}

.frame.hovered .text_section {
    flex-grow: 0;
}

.text_section span {
    font-family: var(--font-family, Inter, Inter Placeholder, sans-serif);
    color: black;
    overflow: clip;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-overflow: " …";
}

.text_section .episode_number {
    --font-family: "Radwave Demo";
    height: fit-content;
    width: max-content;
    line-height: 1.2cqh;
    font-size: 1.2cqh;
}

.text_section .guest_name {
    --font-family: "Oswald";
    -webkit-box-orient: vertical;
    width: min-content;
    max-width: calc(0.54* var(--computed-width));
    height: 2.5cqh;
    max-height: 100%;
    font-size: 2.5cqh;
    
    white-space: nowrap;
    line-height: 2.5cqh;
    /* transition: none; */
}

.frame.hovered .text_section .guest_name {
    white-space: unset;
    height: auto;
    text-overflow: unset !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: auto !important;
}

.content .progress_bar_section {
    flex-grow: 0;
    width: 0px;
    min-height: 10px;
    height: fit-content;
    display: block;
    position: relative;
    opacity: 0;
    cursor: pointer;
    transform-origin: right;
    pointer-events: none;
}

.frame.hovered .progress_bar_section {
    width: auto;
    flex-grow: 5;
    transform-origin: left;
    opacity: 1;
    transition: all 0.2s ease-in;

    height: 92%;
    display: grid;
    align-items: center;

    pointer-events: unset;
}

.content .progress_bar_section > *:first-child {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.content .progress_bar_section .media_timestamp {
    position: absolute;
    bottom: 12.5%;
}

.content .progress_bar_section .media_duration {
    position: absolute;
    bottom: 12.5%;
    right: 0;
}

.progress_bar_section > span {
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.frame.hovered .progress_bar_section > span {
    opacity: 1;
}

.progress_bar_section .media_duration, .progress_bar_section .media_timestamp {
    font-family: 'Oswald', sans-serif;
    color: #2d2c29;
}

.content .separator {
    height: 66.666%;
    width: 2px;
    flex-grow: 0;
    background-color: black;
}

.frame.hovered .separator {
    margin-left: calc(0.075 * var(--computed-width));
}

.content .end_section {
    height: 100%;
    width: calc(0.18 * var(--computed-width));
    flex-grow: 0;
    display: flex;

    align-items: center;
    justify-content: center;
}

.end_section .playButton {
    height: calc(0.2176 * var(--computed-height));
    width: auto;
    aspect-ratio: 0.76;
    cursor: pointer;
}

svg.playButton_svg {
    overflow: visible;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.playButton_svg.playing {
}

.playButton_svg.paused {

}

.playButtonBar {
    transition-property: transform stroke-width;
    transition-duration: 0.3s;
    transform-origin: center;
    stroke: black;
    stroke-width: 10%;
}

.playButtonBar_left {
}

.playButtonBar_bottom, .playButtonBar_top {
    transform-origin: 50%;
}

.playing .playButtonBar {
    stroke-width: 15%;
}

.playing .playButtonBar_bottom {
    transform: scaleY(0.58)  translateY(15%) translateX(-10%) rotate(-55.5deg);
}

.playing .playButtonBar_top {
    transform: scaleY(0.58)  translateY(-15%) translateX(-10%) rotate(55.5deg);
}

@media (pointer:coarse) {
    .frame {
        display: none !important;
    }
}