.instagram_stamp {
    position: absolute;
    bottom: 1%;
    left: 49%;
}

.facebook_stamp {
    position: absolute;
    bottom: 2%;
    left: 85%;
}

.twitter_stamp {
    position: absolute;
    bottom: 3.5%;
    left: 15%;
}