div[ready="true"] .scrollTarget {}

.scrollTarget {
    height: 75% !important;
    overflow-y: scroll;
    padding-right: calc(max(1cqw, 1.3cqh));
}

.scrollTarget * {
    font-size: 1.75cqh !important;
    margin: 0 !important;
}

.scrollTarget>p {
    padding-bottom: 4rem !important;
}

.scrollTarget a {
    color: var(--extracted-1eung3n, rgb(168, 87, 0));
    text-decoration: none;
}

.scrollTarget a:hover {
    text-decoration: underline;
}

.scrollTarget span {
    text-decoration: underline;
    cursor: pointer
}

.subscribe {
    width: fit-content !important;
    right: 13.79% !important;
    top: 7.5% !important
}

.stamp {
    position: absolute;
    height: 19.23% !important;
    width: auto !important;
    aspect-ratio: 1;
    cursor: pointer;
    flex: 0 0 auto;
}

.stamp::after {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;

    content: "";
    mix-blend-mode: overlay;
    background-image: url("https://framerusercontent.com/images/yP4BhtozmCSOyh3GHpWLqgft2Y.png?scale-down-to=128");
    background-size: 100%;
    background-position: center;
    mask-image: url("/img/stamp.svg");
    mask-size: 100%;
    bottom: 0;
}

.stamp>div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.stamp>div.stamp_inner_shadow {
    background-color: rgba(0, 0, 0, 0.2);
    mix-blend-mode: multiply;
    mask-image: url("/img/stamp.svg"), url("/img/stamp.svg");
    mask-size: 100%;
    mask-position: 0.2px 0.2px, 0px 0px;
    mask-composite: xor;
}

.stamp>div.stamp_paper {
    background-image: url("https://framerusercontent.com/images/Hg1xiuPodl7HWtXQCUmAyJfCCw.jpg?scale-down-to=128");
    mask-image: url("/img/stamp.svg");
    mask-size: 100%;
}

.stamp>div.stamp_logo {
    mix-blend-mode: multiply;
}

.stamp>div.stamp_logo::after,
.stamp>div.stamp_logo::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stamp>div.stamp_logo::before {
    background-image: linear-gradient(#fff8e5, #fff8e5);
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    mask-image: url("/img/stamp.svg");
    mask-size: 100%;
}

.stamp>div.stamp_logo::after {
    background-size: 84% 84%;
    background-position: center;
    background-repeat: no-repeat;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}

.apple_stamp {
    top: 4px;
}

.apple_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#a655be, #a655be);
    mask-image: url("/img/applepodcasts.svg"), url("/img/stamp.svg");
    mask-size: 48%, 100%;
}

.spotify_stamp {
    top: 13px;
    left: 49%;
    transform: translateX(-50%) rotate(1deg) translateZ(0px);
}

.spotify_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#55be86, #55be86);
    mask-image: url("/img/spotify.svg"), url("/img/stamp.svg");
    mask-size: 50%, 100%;
}

.pocketcasts_stamp {
    right: 4px;
    top: 5px;
}

.pocketcasts_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#be5555, #be5555);
    mask-image: url("/img/pocketcasts.svg"), url("/img/stamp.svg");
    mask-size: 54%, 100%;
}

.youtube_stamp {
    right: 29.90% !important;
    top: 26% !important;
    transform: rotate(3deg) translateZ(0px);
}

.youtube_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#9a4553, #9a4553);
    mask-image: url("/img/youtube.svg"), url("/img/stamp.svg");
    mask-size: 48%, 100%;
}

.rss_stamp {
    left: 14px;
    top: 26% !important;
}

.rss_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#9a6b45, #9a6b45);
    mask-image: url("/img/rss.svg"), url("/img/stamp.svg");
    mask-size: 54%, 100%;
}

.instagram_stamp {
    position: absolute;
    bottom: 22%;
    left: 66%;
    transform: translateX(-50%) rotate(-1deg) translateZ(0px);
}

.instagram_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#ff4287, #ff4287);
    mask-image: url("/img/instagram.svg"), url("/img/stamp.svg");
    mask-size: 60%, 100%;
}

.tiktok_stamp {
    position: absolute;
    bottom: 0%;
    left: 85%;
    transform: translateX(-50%) rotate(1deg) translateZ(0px);
}

.tiktok_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#222, #111);
    mask-image: url("/img/tiktok.svg"), url("/img/stamp.svg");
    mask-size: 60%, 100%;
}

.facebook_stamp {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) rotate(2deg) translateZ(0px);
}

.facebook_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#1877F2, #1877F2);
    mask-image: url("/img/facebook.svg"), url("/img/stamp.svg");
    mask-size: 60%, 100%;
}

.twitter_stamp {
    position: absolute;
    bottom: 21%;
    left: 30%;
    transform: translateX(-50%) rotate(-3deg) translateZ(0px);
}

.twitter_stamp>div.stamp_logo::after {
    background-image: linear-gradient(#1DA1F2, #1DA1F2);
    mask-image: url("/img/twitter.svg"), url("/img/stamp.svg");
    mask-size: 62%, 100%;
}

.exit_cross {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .scrollTarget {
        overflow: -moz-scrollbars-vertical;
        scrollbar-width: unset !important;
        scrollbar-color: rgba(107, 86, 61, 0.3) transparent;
    }

    .scrollTarget::-webkit-scrollbar {
        display: block !important;
        width: 10px !important;
    }

    .scrollTarget::-webkit-scrollbar-track {
        background: transparent;
    }

    .div:not([ready="true"]) .scrollTarget::-webkit-scrollbar-thumb {
        display: none !important;
    }

    .scrollTarget::-webkit-scrollbar-thumb {
        display: block !important;
        background: rgba(107, 86, 61, 0.3);
        border-radius: 20px;
    }

    .scrollTarget::-webkit-scrollbar-thumb {
        background: rgba(107, 86, 61, 0.3);
        border-radius: 20px;
    }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
    .exit_cross {
        position: absolute;
        top: 3.5%;
        left:  calc((100vw - 8vh) / 2);
        left:  calc((100vw - 8svh) / 2);
        width:  2.75vh;
        width:  2.75svh;
        height: auto;
        cursor: pointer;
        aspect-ratio: 1;
        display: unset;
    }

    .exit_cross_2 {
        left:  calc((100vw - 4vh));
        left:  calc((100vw - 4svh));
    }

    .exit_cross::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/img/X.svg");
    }
}

@media (orientation: landscape) {
    .scrollTarget * {
        font-size:  2.55vh !important;
        font-size:  2.55svh !important;
    }
}

@media (pointer:coarse) and (orientation: landscape) {
    div:has(> .scrollTarget) *, h5.subscribe {
        font-size:  5.55vh !important;
        font-size:  5.55svh !important;
    }

    h5.subscribe {
        width: fit-content !important;
    }
}