@font-face {
    font-family: 'Futura Condensed Extra';
    font-style: normal;
    font-weight: 700;
    src: local('Futura Condensed Extra'),
         url('https://fonts.cdnfonts.com/s/92636/Futura%20Condensed%20Extra%20Bold.woff') format('woff');
    font-display: swap;
}