div.shadow8 {
    box-shadow: -6px -2px 18px rgba(0, 0, 0,.5), -5px -1px 4px -3px rgba(0,0,0,.3);
}

div.shadow24 {
    box-shadow: -19px -4px 38px rgba(0, 0, 0, 0.16), -15px -3px 12px -3px rgba(0, 0, 0, 0.08);
}

.separate_shadow {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 transparent, 0 0 0 0 transparent;
    transition: box-shadow .8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.shadow_container {
    aspect-ratio: 1;
    height: calc(57.5% * 0.95172) !important; /* Not entirely sure about this */
    width: auto !important;
    position: absolute !important;
    transition: transform .3s linear;
    visibility: hidden;
}

.shadow_container[hover] {
    transform: rotate(-3deg);
}

.shadow_container:not([hidden]) {
    visibility: visible !important;
    opacity: 1 !important;
}

.hover_container {
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 150ms !important;
}

.hover_container:not(.moving):hover {
    transform: rotate(-3deg);
}

.hover_container.moving {
    pointer-events: none;
}

.album {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 16px 0px, rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
}

.album img {
    position: absolute;
    top: 0;
}

.wrinkles {
    mix-blend-mode: screen;
}